@use "@styles/colors" as *;

.pokémons_page {
  &.pagination {
    background-color: $background-pageControl;
  }
  &.loadMore {
    background-color: $background-loadMore;
  }
  &-container {
    &--content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &---head {
        align-items: center;
      }
    }
  }
}
