$primary-main: var(--mui-palette-primary-main);
$secondary-main: var(--mui-palette-secondary-main);
$error-main: var(--mui-palette-error-main);
$warning-main: var(--mui-palette-warning-main);
$success-main: var(--mui-palette-success-main);
$info-main: var(--mui-palette-info-main);

$primary-light: var(--mui-palette-primary-light);
$secondary-light: var(--mui-palette-secondary-light);
$error-light: var(--mui-palette-error-light);
$warning-light: var(--mui-palette-warning-light);
$success-light: var(--mui-palette-success-light);
$info-light: var(--mui-palette-info-light);

$text-primary: var(--mui-palette-text-primary);
$text-secondary: var(--mui-palette-text-secondary);
$text-disabled: var(--mui-palette-text-disabled);

$background-default: var(--mui-palette-background-default);
$background-paper: var(--mui-palette-background-paper);
$background-overlay: var(--mui-palette-background-overlay);
$background-pageControl: var(--mui-palette-background-pageControl);
$background-loadMore: var(--mui-palette-background-loadMore);

$border-primary: var(--mui-palette-border-primary);

$action-hover: var(--mui-palette-action-hover);
