.gap-025r {
  gap: 0.25rem;
}
.gap-05r {
  gap: 0.5rem;
}
.gap-1r {
  gap: 1rem;
}
.gap-2r {
  gap: 2rem;
}
.p-1r {
  padding: 1rem;
}
.p_block-1r {
  padding-block: 1rem;
}
.p_block-05r {
  padding-block: 0.5rem;
}
.p_inline-1r {
  padding-inline: 1rem;
}
.m-1r {
  margin: 1rem;
}
.m_block-1r {
  margin-block: 1rem;
}
.m_inline-1r {
  margin-inline: 1rem;
}
.p-0 {
  padding: 0;
}
.m_inline_start-025r {
  margin-inline-start: 0.25rem;
}
