.pokemons_head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 3.75rem;
    &--text {
      font-weight: 700 !important;
    }
  }
  &-actions {
    display: flex;
    gap: 1rem;
  }
}
