@use "@styles/breakpoints" as *;
.layout {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-main {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
