.pokémon_pagination {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &-list {
    flex: 1;
  }
  &-pagination {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--text {
      text-align: center;
    }
  }
}
